@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');
/* General Css Styles */

:root{
    --Red: hsl(0, 100%, 68%);
    --Very-Dark-Blue: hsl(230, 29%, 20%);
    --Dark-Grayish-Blue: hsl(230, 11%, 40%);
    --Grayish-Blue: hsl(231, 7%, 65%);
    --Light-Grayish-Blue: hsl(207, 33%, 95%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a,a:hover,a:visited{
    text-decoration: none;
}

body{
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    color: var(--Grayish-Blue);
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    font-family: 'Barlow Condensed', sans-serif;
}

a{
    font-weight: 700;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
}

.container{
    width: 1108px;
    margin: 0 auto;
}

.row{
    margin: 0 -15px;
}

.wrapper{
    padding: 0 15px;
}

.btn{
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 8px;
    outline: none;
    padding: 15px 25px;
    font-size: 18px;
    letter-spacing: 2px;
    color: var(--Light-Grayish-Blue);
    background: var(--Red);
    cursor: pointer;
    transition: .3s ease;
}

.btn-secondary{
    background-color: transparent;
    border: 1px solid var(--Almost-Black);
    color: var(--Almost-Black);
}

.btn:hover{
    opacity: .8;
}

.btn-secondary:hover{
    background-color: var(--Almost-Black);
    color: var(--Almost-White);
}



/* Nav Css Styles */
nav {
    position: relative;
	padding: 60px 0;
	background-color: transparent;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

nav .nav-container{
    width: 1108px;
    margin: 0 auto;
}

nav .nav-wrapper{
    padding: 0 15px;
}

nav .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .main-menu {
	display: flex;
	align-items: center;
    justify-content: space-between;
}

nav .navbar .logo{
    margin-right: 50px;
}

nav .navbar .logo-mobile{
    display: none;
}

nav .navbar .nav-cta-mobile{
    display: none;
}

nav .main-menu .btn-login {
	position: relative;
	background: transparent;
	padding: 0;
	padding-left: 60px;
	margin-left: 40px;
}

nav .main-menu .btn-login::after{
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: var(--Grayish-Blue);
}

nav .main-menu .btn-login a{
    color: var(--Grayish-Blue);
}

nav .nav-btn {
	display: none;
    border: none;
    outline: none;
    height: 20px;
    cursor: pointer;
    background: none;
}

nav .nav-btn span{
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--Very-Dark-Blue);
}

nav .nav-btn span::after, nav .nav-btn span::before{
    position: absolute;
    content: '';
    width: 30px;
    height: 2px;
    left: 0;
    background-color: var(--Very-Dark-Blue);
    transition: .3s;
}

nav .nav-btn span::after{
    transform: translateY(-8px);
}
nav .nav-btn span::before{
    transform: translateY(8px);
}
nav .nav-btn.active span{
    background: transparent;
}
nav .nav-btn.active span::after{
    transform: rotate(45deg);
}
nav .nav-btn.active span::before{
    transform: rotate(-45deg);
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: block;
    position: relative;
    padding-left: 60px;
}

nav ul li a {
    display: block;
	position: relative;
	color: var(--Very-Dark-Blue);
    font-size: 17px;
    text-transform: uppercase;
	transition: .3s;
}

nav ul li:hover > a{
    text-decoration: underline;
}



/* Header Css styles */
header{
    position: relative;
    padding: 160px 0;
    overflow: hidden;
}
header .shape{
    position: absolute;
    top: -160px;
    right: 0;
    z-index: -1;
}
header .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .content .left {
	width: 45%;
}

header .content .left .tag-container {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

header .content .left .tag-container .tag{
    font-size: 16px;
    color: var(--Light-Grayish-Blue);
    background-color: var(--Very-Dark-Blue);
    border-radius: 20px;
    padding: 5px 12px;
    margin-right: 10px;
    text-transform: uppercase;
}

header .content .left .tag-container .tag-line{
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Barlow Condensed', sans-serif;
}

header .content .left .btn-span{
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 20px;
    font-family: 'Barlow Condensed', sans-serif;
}

header .content .left h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: var(--Very-Dark-Blue);
}
header .content .left p {
	margin-bottom: 60px;
	margin-right: 210px;
}

.right {
	margin-right: -428px;
}





/* Media Sizes styles */
@media (max-width:1440px){
    header .shape {
        top: -160px;
        right: -190px;
    }
    .row{
        margin: 0;
    }
    header .content .left {
        width: 46%;
    }
    
}
@media (max-width:1200px) {
    .container{
        width: 100%;
    }
    .row{
        margin: 0;
    }
    nav .nav-container {
        width: 100%;
    }
    header .shape {
        right: -350px;
    }
}
@media (max-width:992px) {
    header .shape {
        right: -170px;
    }
    header .content {
        flex-direction: column;
    }
    header .content .left {
        width: 100%;
        order: 2;
    }
    .mobile-hero {
        display: block;
        margin: 0 auto;
        margin-top: 40px;
        width: 60%;
    }
    header .content .left p {
        margin-right: 90px;
    }
    header .content .left .brands {
        justify-content: center;
    }
    header .content .right {
        order: 1;
        margin-bottom: 80px;
    }
}
@media (max-width:768px) {
    .btn {
        font-size: 14px;
        padding: 12px 20px;
    }
    .overlay.active {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100vh;
        z-index: 1;
        transition: .3s;
        background: rgba(0, 0, 0, 0.77);
    }
    body.nav-active{
        overflow-y: hidden;
    }
    nav .navbar .logo-mobile{
        display: block;
    }
    nav .navbar .nav-cta-mobile {
        width: 100%;
        display: block;
        text-align: center;
    }
    nav .navbar .nav-cta-desktop{
        display: none;
    }
    nav {
        padding: 30px 0;
    }
    nav ul {
        flex-direction: column;
        width: 100%;
        align-items: start;
    }
    nav .nav-btn {
        display: block;
    }
    nav .main-menu {
        position: absolute;
        width: 85%;
        top: 80px;
        left: 50%;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        padding: 25px;
        background-color: var(--Light-Grayish-Blue);
        box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
        transition: .3s;
        transform: translateX(-50%);
        z-index: 10;
    }
    nav .main-menu.active {
        right: 0;
        opacity: 1;
        visibility: visible;
    }
    nav ul li {
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }
    nav ul li a {
        font-size: 20px;
    }
    nav ul li.drop-down ul {
        position: static;
        box-shadow: none;
        display: none;
        padding-top: 0;
    }
    nav ul li.drop-down:hover ul{
        display: block;
    }
    nav .main-menu .btn-login {
        border-top: 1px solid var(--Grayish-Blue);
        padding: 10px 0;
        margin-left: 0;
    }
    nav .main-menu .btn-login a{
        border-radius: none;
    }
    nav .main-menu .btn-login::after {
        display: none;
    }
    header .shape {
        right: -690px;
        top: 0px;
    }
    header .content .left .brands {
        margin-top: 60px;
    }
    header .content .left h1 {
        font-size: 55px;
        margin-bottom: 20px;
    }
    header .content .left .btn-span {
        margin-left: 10px;
    }
    header .content .right {
        margin-right: -200px;
    }
    header .content .right img {
        width: 100%;
    }

}
@media (max-width:560px) {
    .mobile-hero {
        width: 100%;
        margin-top: 0px;
    }
    body{
        font-size: 16px;
    }
    header {
        padding: 110px 0;
    }
    header .content .left .brands img {
        margin-right: 20px;
        width: 68px;
    }
    header .content .left h1 {
        font-size: 34px;
    }
    header .content .left p{
        margin-bottom: 20px;
    }
    header .shape {
        right: -790px;
        top: -150px;
    }
    
}
